---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<br>
<p>List of publications, data, code, and corrections.</p>

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h3 class="archive__item-title" itemprop="headline">{{ post.title }}</h3>
        <p class="page__meta">
          {% if post.venue %}<strong>{{ post.venue }}</strong>, {% endif %}{{ post.date | date: "%Y" }}
        </p>
        
        <div class="archive__item-content" itemprop="text">
          {{ post.content }}
        </div>

        <p>
          {% if post.paperurl %}<a href="{{ post.paperurl }}"><u>[PDF]</u></a> {% endif %}
          {% if post.codeurl %}<a href="{{ post.codeurl }}"><u>[Code]</u></a> {% endif %}
          {% if post.slidesurl %}<a href="{{ post.slidesurl }}"><u>[Slides]</u></a> {% endif %}
        </p>
      </article>
      {% endfor %}
  {% endfor %}

{% else %}
  
  {% for post in site.publications reversed %}
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h3 class="archive__item-title" itemprop="headline">{{ post.title }}</h3>
      <p class="page__meta">
        {% if post.venue %}<strong>{{ post.venue }}</strong>, {% endif %}{{ post.date | date: "%Y" }}
      </p>
      
      <div class="archive__item-content" itemprop="text">
        {{ post.content }}
      </div>

      <p>
        {% if post.paperurl %}<a href="{{ post.paperurl }}"><u>[PDF]</u></a> {% endif %}
        {% if post.codeurl %}<a href="{{ post.codeurl }}"><u>[Code]</u></a> {% endif %}
        {% if post.slidesurl %}<a href="{{ post.slidesurl }}"><u>[Slides]</u></a> {% endif %}
      </p>
    </article>
    <hr>
    {% endfor %}

{% endif %}