---
layout: archive
title: "Knowledge Mobilization"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

## Public Engagements

- **How social media can empower newcomers**, Digital Arrival City, 16 October 2024. ([Listen on Spotify](https://open.spotify.com/episode/4GckkWcnJORJ3gVL82wIvR))

- **Social Media Toolkit** (with Nevyn Pillai), Canada Excellence Research Chair in Migration & Integration, Virtual Bridge Project, January 2024. ([Download PDF](https://www.torontomu.ca/content/dam/cerc-migration/Research/research-projects/virtual-bridge-images/CERC%20Social%20Media%20Toolkit_2024.pdf))

- **Canada’s Start-Up Visa program is struggling to fill the shoes of its predecessors** (with Bradley Bernard), The Conversation, 22 October 2023. ([Read article](https://theconversation.com/canadas-start-up-visa-program-is-struggling-to-fill-the-shoes-of-its-predecessor-214618))

- **Settlement services need to improve their online offerings for tech-savvy newcomers** (with Nevyn Pillai), The Conversation, 12 May 2022. ([Read article](https://theconversation.com/settlement-services-need-to-improve-their-online-offerings-for-tech-savvy-newcomers-181368))

- **COVID-19 is disrupting the migration of new talent to Canada**, The Conversation, 5 November 2020. ([Read article](https://theconversation.com/covid-19-is-disrupting-the-migration-of-new-talent-to-canada-147820))

- **International students are vital to Canada’s economic recovery after COVID-19**, openDemocracy, 15 May 2020. ([Read article](https://www.opendemocracy.net/en/pandemic-border/international-students-are-vital-to-canadas-economic-recovery-after-covid-19/))

- **Humber Insights**, Humber College. ([View document](https://humber.ca/strategicplanning/sites/default/files/OnePagerTheInstitutionalCostOfStudentAttrition.pdf))

## Data Visualizations

Explore my Tableau Public dashboards: [https://public.tableau.com/app/profile/stein.monteiro2258](https://public.tableau.com/app/profile/stein.monteiro2258)

## Community Development

I used to host regular events to build Twitter's development community in Toronto. Twitter also made this video of some of my academic work that uses the Twitter API. Please watch.

[Twitter Developer Success Story](https://developer.twitter.com/en/community/success-stories/cerc-academic-research)

<iframe width="560" height="315" src="https://www.youtube.com/embed/KYBQHD9Baq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
